@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Literata;
}

select,
input,
textarea {
    border: 2 px solid #214784;
    outline-color: #7991B8;
    border-radius: 2px;
    background: #F3F7FF;
}

.active {
    background-color: #7991B8;;
    border-color: #214784;
    color: white; 
}

:root {
    --color-primary: #214784;
    --color-accent: #B1740F;
}