@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Literata;
}

.active{
    background-color: #ffebf5 ;
    border-color: #C586A5;
}